/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_self
 */
#img-box{
  position: relative;
  width: 170px;
  height: 200px;
  
}
#img-box img{
  width: auto;
  height: auto;
  max-width: 160px;
  max-height: 190px;

}
#img-box-mini{
  position: absolute;
  bottom: 10px;
  left: 0px;
  width:100%;
  background-color: rgba(50, 50, 50, 0.8);
 }
 #img-box-mini-footer{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width:100%;
  background-color: rgba(20, 20, 20, 0.8);
 }
#img-box-text{
  text-align: center;
  font-size: medium;
  width: 100%;
  padding: 10px;
}
.img-box-tag{
  text-align: center;
  font-size: 5px;
}
#img-box a{
  color: #fff;
}
#kamonarticle .kimg-box {
  width: 250px;
  height: 250px;
}
#kamonarticle .kimg-box img {
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 250px;
}
#kamonarticle .kdiscription {
  width: 100%;
  padding: 10px 10px 10px 0px;
}
.kamontitle {
  background:#eeeeee;
  border:1px solid #cccccc;
  padding:5px 10px;
}

.spacer { margin-top: 5px; }
.spacer10 { margin-top: 10px; }
.spacer15 { margin-top: 15px; }
.spacer20 { margin-top: 20px; }
.spacer25 { margin-top: 25px; }
.spacer30 { margin-top: 30px; }
.spacer35 { margin-top: 35px; }
.spacer40 { margin-top: 40px; }
.spacer45 { margin-top: 45px; }
.spacer50 { margin-top: 50px; }
.spacer100 { margin-top: 100px; }
.spacer200 { margin-top: 200px; }